@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
*{
    margin:0;
    padding: 0;
}

body{
    font-family: "Noto Serif", serif;
    overflow-x: hidden;
}

header{
    background-color: white;
    width: 100%;
    border-bottom: 10px solid #D5A85D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a_nav_style{
    color: #252F3F;
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 35px;
}

#logo{
    width: 200px;
    margin: 10px;
}

.nav-items{
    font-size: 25px;
    margin: 10px;
}



@media (max-width: 1000px){
    header {
        flex-direction: column;
    }

    ul {
        margin-right: 0;
    }
}

@media (max-width: 500px){
    .nav-items {
        font-size: 16px;
    }
}

